html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://lokalhistoriewiki.no/images/Beck_N%C3%B8kleby_og_Gran.jpg");
    background-size: cover;
    background-position: top left;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 2px #0e0000;
}
h2 {
    font-size: 2rem;
    color: #0e0d0d;
    text-shadow: 2px 2px 2px #c7c3c3;
    text-align: center;
}
header a {
    background: #e80404;
    color: #fafafa;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    border-style: solid;
    border-width: 2px;
}

.scrollContainer {
    width: 100vw;
    min-height: 60vh;
    overflow: hidden;
    transition: background-image 2s;
}

.scrollText {
    margin: 50vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: #1a0101;
    border-style: solid;
    border-width: 2px;
    border-color: #b61010;


}
#changingBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50vh;
}
#introduction {
    background-image: url("https://lokalhistoriewiki.no/images/Beck_Ner-Skjefstad.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
    color: aquamarine;
}
.alignRight {
    float: right;
    margin: 0 0 1rem 1rem;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding-top: 50px;
    box-sizing: border-box;
}
.redBg {
    background: #b61010;
    color: #fff;
}
.greenBg {
    background: #588002;
    color: #fff;
}
.big {
    text-align: center;
    font-size: 4rem;
    display: block;
    clear: both;
}
.small {
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: block;
}